* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbartop {
    background-color: white;
    padding: 1rem;
    width: 100rem;
}

.navbar {
    background-color: white;
}

.caregiver {
    color: #2CCAA2 !important;
    text-decoration: none;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.container2 {
    display: flex;
    align-items: center;
}

.flex-container2 {
    display: flex;
    gap: 1rem;
}

.img-tamanho {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid #2CCAA2;
    
}

.formulario {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.formulario input[type="text"], .formulario input[type="email"] {
    margin-bottom: 1rem;
    width: 100%;
}

.input-group {
    margin-bottom: 1rem;
}

.qr-code {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.qr-code img {
    width: 80px;
    height: 80px;
}
